<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/alijenadeleh/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="alijenadeleh" />
      <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>